@import "tailwindcss";

.explorar {
    @apply my-20 mx-auto flex flex-col w-380 gap-8;

    .explorarHeader {
        @apply flex items-center justify-between;

        .explorarTitle {
            @apply text-[24px] text-[#E5E2E9];
            
            font-family: "Rammetto One", sans-serif;
        }

        .explorarBuscar{
            @apply w-66 border border-[#7A7B9F] text-[#7A7B9F] rounded-md;

            input {
                @apply pl-10 pr-4 py-3 border-0 bg-transparent text-[16px];
            }

            input:active, input:focus {
                @apply text-[16px] border-0;
            }

            span {
                @apply pl-3 text-[#7A7B9F];
            }
        }
    }

    .explorarListagem {
        @apply flex flex-wrap gap-6;
    }
}